<div class="row">
	<div class="col-sm-12 text-right">	
		<a class="btn btn-default" href="#/dashboard/invoicelist">Invoice List</a>
		<a class="btn btn-default" ng-click="openInvoice()">Add Invoice</a>
		<a class="btn btn-default" href="#/dashboard/invoice/summary">Summary</a>
		
	</div> 
</div>
<h3>Invoice List <button class="btn btn-primary pull-right" type="submit">Print</button></h3>
<div class="row">
	<div class="col-sm-3">
		<label for="fromdate" class="control-label">From Date </label>
		<div class="input-group">
			<input type="text" placeholder="YYYY-DD-MM" id="fromdate" name="fromdate" class="form-control" ng-model="invoicelist.fromdate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
	</div>
	<div class="col-sm-3">
		<label for="todate" class="control-label">To Date </label>
		<div class="input-group">
			<input type="text" placeholder="YYYY-DD-MM" id="todate" name="todate" class="form-control" ng-model="invoicelist.todate" datepicker-popup="{{format}}" is-open="opened1" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open1($event)" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
	</div>	
	
	<div class="col-sm-2">
		<label for="party" class="control-label">Party Name</label>
			<select class="form-control" ng-model="partyType" ng-init="getParty()" ng-options="item.name for item in partylist" ng-change="filter('party_name', partyType.name)">
				<option value="">Select Party</option>
			</select>
	</div>
	<div class="col-sm-3">
		<label for="search" class="control-label">Search</label>
		<div class="form-group">
			<input type="text" name="search" placeholder="Search here" ng-model="search" class="form-control" ng-change="filter('name', search, true)">
		</div>
	</div>	
</div>	
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Sr.No.</th>
				<th>Generate Date</th>
				<th>Party Name</th>
				<th>Service Tax</th> 
				<th>VAT</th>
				<th>Bill Amount</th>
				<th>Total Amount</th>
				<th class="col-sm-2">Manage</th>
			</tr>
			<tr>
				<td>1</td>
				<td>20/12/2015</td>
				<td>SPD</td>
				<td>200</td>
				<td>500</td>
				<td>2500</td>
				<td>3200</td>
				<td>
					<a class="btn btn-warning" href="#/invoice"><span class="glyphicon glyphicon-pencil"tooltip="Edit invoice "></span></a> 
					<a class="btn btn-danger" href="#/invoice"><span class="glyphicon glyphicon-remove"tooltip="Delete invoice "></span></a>
					<a class="btn btn-primary" ng-click ="open()"><span class="glyphicon glyphicon-eye-open" tooltip="View invoice "></span></a>
				</td>
			</tr>
		</thead>
	</table>
</div>	
<div class="text-center">
	<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
	 <pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>
</div>
		