<div class="row">
	<div class="col-sm-12 text-right">	
		<a class="btn btn-default" href="#/invoice">Add Invoice</a>
		<a class="btn btn-default" href="#/invoicelist">Invoice List</a>
		<a class="btn btn-default" href="#/dashboard/invoice/summary">Summary</a>

	</div>
</div>
<h3 class="text-center">Summary <button class="btn btn-primary pull-right" type="submit">Print</button></h3>
<div class="row bottomspace" ng-init="modalOptions.getData('party', modalOptions,'partylist')">
	<div class="col-sm-3">
		<label for="fromdate" class="control-label">From Date </label>
		<div class="input-group">
			<input type="text" placeholder="YYYY-DD-MM" id="fromdate" name="fromdate" class="form-control" ng-model="summary.fromdate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
	</div>
	<div class="col-sm-3">
		<label for="todate" class="control-label">To Date </label>
		<div class="input-group">
			<input type="text" placeholder="YYYY-DD-MM" id="todate" name="todate" class="form-control" ng-model="summary.todate" datepicker-popup="{{format}}" is-open="opened1" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open1($event)" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
			
		</div>
	</div>
	<!-- <div class="col-sm-2">
		<label for="party" class="control-label">Party Name</label>
			<select class="form-control" id="party">
				<option>Select Party</option>
				<option value="1">Sharma</option>
				<option value="2">Kulkarni</option>
			</select>
	</div> -->
	<div class="col-sm-2">
	<label for="party" class="control-label">Party Name</label>
			<select class="form-control" ng-model="partyType" ng-init="getParty()" ng-options="item.name for item in partylist" ng-change="filter('party_name', partyType.name)">
				<option value="">Select Party</option>
			</select>
		</div>
	<div class="col-sm-2">
		<label for="department" class="control-label">Department Name</label>
		<select class="form-control" ng-model="department" ng-options="item.department for item in partylist | filter : { name : partyType.name }" ng-change="filter('department', partyType.department)">
			<option value="">Select Department</option>
		</select>
	</div>
	<div class="col-sm-2">
		<label for="invoice" class="control-label" >Invoice</label>
			<select class="form-control" id="invoice">
				<option>Select Invoice</option>
				<option value="active">Invoice 1</option>
				<option value="deleted">Invoice 2</option>
			</select>
	</div>
</div>
<h3>Measurement</h3>
<div class="table-responsive" ng-init="getMeasurement(currentPage)">
	<table class="table table-bordered">
		<tr>
			<th>Sr. No.</th>
			<th>Party Id</th>
			<th>Department Id</th>
			<th>Item Id</th>
			<th>Measurement Unit</th>
			<th>Length</th>
			<th>Area</th>
		</tr>
		<tr ng-repeat="x in measurementlist | orderBy:sort">
			<td>{{$index + 1}}</td>
			<td>{{x.party_id}}</td>
			<td>{{x.department_id}}</td>
			<td>{{x.item_id}}</td>
			<td>{{x.measurement_unit}}</td>
			<td>{{x.length}}</td>
			<td>{{x.area}}</td>
		</tr>
		<!-- <tfoot>
			<tr>
				<th colspan="5" class="text-right">Total :</th>
				<td>194760.26</td>
			</tr>
		</tfoot> -->
	</table>
</div>

<h3>Department</h3>
<div class="table-responsive" ng-init="getDepartment(currentPage)">
	<table class="table table-bordered">
		<tr>
			<th>Sr. No.</th>
			<th>Item</th>
			<th>Date</th>
			<th>Party Name</th>
			<th>Department</th>
		</tr>
		<tr ng-repeat="x in departmentlist | orderBy:sort">
			<td>{{$index + 1}}</td>
			<td>{{x.item}}</td>
			<td>{{x.date}}</td>
			<td>{{x.party_name}}</td>
			<td>{{x.department}}</td>
		</tr>
		<!-- <tfoot>
			<tr>
				<th colspan="5" class="text-right">Total :</th>
				<td>194760.26</td>
			</tr>
		</tfoot> -->
	</table>
</div>
<div class="text-center">
	<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getQuotation(currentPage,params)"></pagination>
	<pre>Page: {{currentPage}} / {{totalRecords}}</pre>
</div>
