<div class="row bottom-space ng-scope">
				 <div class="col-sm-2"> 
					<label for="sort" class="control-label">From Date</label>		
					<input type="date" class="form-control" id="inputdate" placeholder="date">
				</div>	
				<div class="col-sm-2"> 
					<label for="sort" class="control-label">To Date</label>		
					<input type="date" class="form-control" id="inputdate" placeholder="date">
				</div>	
				<div class="col-sm-3">
				<label for="sort" class="control-label">Select Party Name</label>		
					<select id="sort" class="form-control ng-pristine ng-valid" ng-model="sort">  
						<option value="">Select Party Name</option>		
						<option value="-title">Sharma</option>
						<option value="title">Sawant</option>  
					</select>
				</div>
				
				<div class="col-sm-5 text-right"> 
					<a href="#/department" class="btn btn-default" title="Add New Department">Add New Department</a>				
					<a href="#/departmentlist" class="btn btn-default" title="Add New Department">Deparment List</a>
				</div>
			</div>
		<div class="table-responsive">	
            <h3 style="text-align:center;">Deparment  Table</h3> 		
			<table class="table table-bordered">
				<thead>
					<tr><th>Sr.No.</th>
					<th>Date</th>
					<th>Description</th>
					<th>Rpt</th> 
					<th>Tiles Meson </th>
					<th>Plaster Meson </th>
					<th>Plumber Meson</th>
					<th>BBM Meson</th>
					<th>Meson</th>
					<th>Helper</th>
					<th>Breaking machine</th>
					<th class="col-sm-2">Manage</th>
					</tr>
			 </thead>
				<tbody>
				    <td>1</td>
					<td>20/12/2015</td>
							<td>Internal Plaster</td>
							<td>17</td>
							<td>2</td>
							<td>4</td>
						    <td>2</td>
							<td>4</td>
							<td>4</td>
							<td>4</td>
							<td>4</td>
							<td>
							<a class="btn btn-warning glyphicon glyphicon-pencil"  href="#/department" ng-model="checkModel.left" btn-checkbox tooltip="Edit Department Details"></a>
							<a class="btn btn-primary glyphicon glyphicon-eye-open"  href="#/department" ng-model="checkModel.left" btn-checkbox tooltip="View department Details"></a>
							<a class="btn btn-danger glyphicon glyphicon-remove" ng-model="checkModel.right" btn-checkbox tooltip="Delete Department"></a>
							</td>
				</tbody>
				<tbody>
				    <td>1</td>
					<td>20/12/2015</td>
							<td>Shifting & Hole Repairing </td>
							<td>17</td>
							<td>2</td>
							<td>4</td>
						    <td>2</td>
							<td>4</td>
							<td>4</td>
							<td>-</td>
							<td>-</td>
							<td>
							<a class="btn btn-warning glyphicon glyphicon-pencil"  href="#/department" ng-model="checkModel.left" btn-checkbox tooltip="Edit Department Details"></a>
							<a class="btn btn-primary glyphicon glyphicon-eye-open"  href="#/" ng-model="checkModel.left" btn-checkbox tooltip="Edit Party Details"></a>
							<a class="btn btn-danger glyphicon glyphicon-remove" ng-model="checkModel.right" btn-checkbox tooltip="Delete Party Details"></a>
							</td>
				</tbody>
			
	
