<h3>Invoice List</h3>
	<div class="row">	
		<div class="col-sm-3">
			<label for="from" class="control-label">From Date </label>
			<div class="input-group">
				<input type="text" placeholder="YYYY-DD-MM" id="fromdate" name="fromdate" class="form-control" ng-model="invoicelist.fromdate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
		</div>
		<div class="col-sm-3">
			<label for="from" class="control-label">To Date </label>
			<div class="input-group">
				<input type="text" placeholder="YYYY-DD-MM" id="todate" name="fromdate" class="form-control" ng-model="invoicelist.fromdate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
		</div>		
</div>		
		<!-- <div class="col-sm-3">
			<div class="bottomspace">
				<label for="id" class="control-label">Sort by Order</label>
					<select id="id" class="form-control" ng-model="id"> 
						<option value="">Select Order</option>	
						<option value="-business_name">Descending</option>
						<option value="business_name">Ascending</option>  
					</select>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="bottomspace">
				<label for="verified" class="control-label">Filter By Verified</label>
					<select id="verified" class="form-control" ng-model="verifiedFilter" ng-change="changeStatus('verified',verifiedFilter)">
						<option value="" selected>Select Verified</option>
						<option value="1" >Verified</option>
						<option value="0">Not Verified</option>
					</select>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="bottomspace">
				<label for="featured" class="control-label">Filter By Featured</label>
					<select id="featured" class="form-control" ng-model="featuredFilter" ng-change="changeStatus('featured',featuredFilter)">
						<option value="" selected>Select Featured</option>
						<option value="1" >Featured</option>
						<option value="0">Not Featured</option> 
					</select>
			</div>
		</div> -->