<div class="text-right bottomspace">
	<a href="#/quotationlist" class="btn btn-default">Quotation List</a>
	<a href="#/quotation" class="btn btn-default">Add New Quotation</a>
</div>
<h3> Quotation View</h3>
<div class="row bottomspace">
		<div class="col-sm-3">
			<select class="form-control">
				<option>Sort By</option>
				<option value="Ascending">Ascending</option>
				<option value="Descending">Descending</option>
			</select>
		</div>
		<div class="col-sm-2">
			<select class="form-control">
				<option>Select Status</option>
				<option value="active">Active</option>
				<option value="deleted">Deleted</option>
			</select>
		</div>
		<div class="col-sm-2">
			<select class="form-control">
				<option>Select Party</option>
				<option value="Party">Party</option>
				<option value="Vender">Vender</option>
			</select>
		</div>
		<div class="col-sm-2">
			<select class="form-control">
				<option>Select Department</option>
				<option value="Department1">Department1</option>
				<option value="Department2">Department2</option>
			</select>
		</div>
</div>
<div class="table-responsive">
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Subject</th>
			<th>Terms & Conditions</th>
			<th>Manage</th>
		</tr>
		<tr>
			<td>Sharma</td>
			<td>Nigadi,Pune.</td>
			<td>Computerised System</td>
			<td>Deadline</td>
			<td>
				 
				 <!-- <a href="#/viewquotation" class="btn btn-primary glyphicon glyphicon-eye-open"></a>  -->
				<a class="btn btn-warning glyphicon glyphicon-pencil"  href="#/quotation" ng-model="checkModel.left" btn-checkbox tooltip="Edit Quotation Details"></a>
				<a ng-click ="open()" tooltip="View Quotation" class="btn btn-success glyphicon glyphicon-eye-open"></a> 
				<a class="btn btn-danger glyphicon glyphicon-remove" ng-model="checkModel.right" btn-checkbox tooltip="Delete Quotation"></a>
			</td>
		</tr>
	</table>
</div>
