<div class="row">
	<div class="col-sm-12 text-right">
		<a href="#/dashboard/departmentlist" class="btn btn-default" title="Add New Department" ng-click="getData(currentPage, 'department', 'deptList' );status=  options[0];search=null;partyType=options[0];department=options[0];sort=options[0]">Deparment List</a>
		<a class="btn btn-default" ng-click="openDept(null)" title="Add New Department">Add New Department</a>			
	</div>
</div>
<h3>Deparment List <button class="btn btn-primary pull-right" type="submit">Print</button></h3>
<div class="row bottomspace">
	<div class="col-sm-3"> 
		<label for="fromdate" class="control-label">From Date </label>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="YYYY-MM-DD" id="fromdate" name="fromdate" datepicker-popup="yyyy-MM-dd" ng-model="fromDate" is-open="opened" min-date="minDate" max-date="'2020-12-31'" ng-required="true" close-text="Close" ng-click="open($event,'opened')" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-change="filter('date', fromDate)"/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event,'opened')"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
	</div>	
	<div class="col-sm-3"> 
		<label for="todate" class="control-label">To Date </label>
			<div class="input-group">
				<input type="text" placeholder="YYYY-MM-DD" id="todate" name="todate" class="form-control" ng-model="toDate" datepicker-popup="yyyy-MM-dd" is-open="opened1" min-date="minDate" max-date="'2020-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open1($event,'opened1')" ng-change="filter('date', toDate)"/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open1($event,'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
	</div>	
	<div class="col-sm-3">
		<label for="sort" class="control-label">Select Party</label>
		<select class="form-control" ng-model="partyType" ng-init="getData(false, 'party', 'partylist' )" ng-options="item.name for item in partylist" ng-change="filter('party_id', partyType.name)">
			<option value="">Select Party</option>
		</select>
	</div>
	<div class="col-sm-3">
		<label for="department" class="control-label">Select Department</label>		
		<select class="form-control" ng-model="department" ng-options="item.department for item in partylist | filter : { name : partyType.name }" ng-change="filter('department', partyType.department)">
			<option value="">Select Department</option>
		</select>
	</div>
</div>
<div class="table-responsive">		
	<table class="table table-bordered" ng-init="getData(currentPage, 'department', 'deptList' )">
		<thead> 
			<tr>
				<th>Sr.No.</th>
				<th>Date</th>
				<th>Receipt No</th>
				<th>Item</th>
				<th>Party Id</th>
				<th>Department</th>
				<th>Tiles Meson </th>
				<th>Plaster Meson </th>
				<th>Plumber Meson</th>
				<th>BBM Meson</th>
				<th>Meson</th>
				<th>Helper</th>
				<th>Breaking machine</th>
				<th class="col-sm-2">Manage</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="dept in deptList">
				<td>{{((currentPage - 1) * pageItems ) + $index + 1 }}</td>
				<td>{{dept.date}}</td>
				<td>{{dept.receipt_no}}</td>
				<td>{{dept.item}}</td>
				<td>{{dept.party_id}}</td>
				<td>{{dept.department}}</td>
				<td>{{dept.tile_meson}}</td>
				<td>{{dept.plaster_meson}}</td>
				<td>{{dept.plumber_meson}}</td>
				<td>{{dept.bbm_meson}}</td>
				<td>{{dept.meson}}</td>
				<td>{{dept.helper}}</td>
				<td>{{dept.breaking_machine}}</td>
				<td>
					<button class="btn btn-warning" ng-model="checkModel.left" btn-checkbox tooltip="Edit Department Details" ng-click="openDept(dept)">
						<span class=" glyphicon glyphicon-pencil"></span> 
					</button>
					
					<div class="btn-group">	
						<button type="button" tooltip="View" class="btn btn-info" ng-click="viewDepartment(x)"><span class="glyphicon glyphicon-eye-open"></span></button>
					</div>
					
					<button type="button" tooltip="{{(dept.status == 1) ? 'Delete' : 'Active'}}" ng-class="(dept.status == 1) ? 'btn btn-success' : 'btn btn-danger'" ng-model="dept.status" ng-change="changeCol('status', dept.status, dept.id)" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
						<span class="glyphicon glyphicon-remove"></span> 
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="text-center">
	<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getData(currentPage, 'department', 'deptList' )"></pagination>
	<pre>Page: {{currentPage}} / {{totalRecords}}</pre>
</div>
	
			
	
