<div class="modal-content">		
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="modal-body" ng-init="adddepartment =modalOptions.adddepartment">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="text-center" ng-if="!modalOptions.adddepartment.id">Add Department</h3>
				<h3 class="text-center" ng-if="modalOptions.adddepartment.id">Update Department</h3>
				<form class="form-horizontal" name="adddepartmentForm" role="form" ng-submit="adddepartmentForm.$valid" novalidate>
					<div class="form-group">
						<label for="inputdate" class="col-sm-2 control-label">Date</label>
						<div class="col-sm-9">
							<input type="text"  class="form-control" placeholder="YYYY-DD-MM" id="date" ng-model="modalOptions.adddepartment.date" ng-init="modalOptions.adddepartment.date = modalOptions.cDate" readonly/>
							<!-- <div class="input-group">
								<input type="text" placeholder="YYYY-DD-MM" id="date" name="date" class="form-control" ng-model="modalOptions.adddepartment.date" datepicker-popup="{{format}}" is-open="opened2" min-date="minDate" max-date="'2020-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-click="modalOptions.open2($event,'opened2')" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="modalOptions.open2($event,'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div> -->
							<input  type="hidden" class="form-control" id="status" name="status" ng-model="modalOptions.adddepartment.status" ng-init="modalOptions.adddepartment.status=1">
							<!-- <span class="from-control" ng-show="adddepartmentForm.date.$dirty && adddepartmentForm.date.$invalid">
								<span ng-show="adddepartmentForm.date.$error.required" class="text-danger">Required Field.</span>
							</span> -->
						</div>
					</div>
					<div class="form-group" ng-init="modalOptions.getData('item', modalOptions,'itemlist')">
						<label for="item" class="col-sm-2 control-label">Item</label>
						<div class="col-sm-9">
							<select class="form-control" id="item" name="item" ng-model="modalOptions.adddepartment.item" ng-options="item.id as item.item_name  for item in modalOptions.itemlist" required>
							
								<option value="" ng-if="!modalOptions.adddepartment.id">Select Item</option>
								<!-- <option ng-change="modalOptions.adddepartment.item = items.item_name" value="modalOptions.adddepartment.item" ng-if="modalOptions.adddepartment.id"></option> -->
							</select>
							 
							<span class="block" ng-show="adddepartmentForm.item.$invalid && adddepartmentForm.item.$dirty">
								<span ng-show="adddepartmentForm.item.$error.required" class="text-danger">Required Field</span>
							</span>
						</div>
					</div>
					
					<div class="form-group" ng-init="modalOptions.getData('party', modalOptions,'partylist')">
						<label for="item" class="col-sm-2 control-label">Party</label>
							<div class="col-sm-9">
								<select class="form-control" ng-model="partyType" ng-options="item as item.department group by item.name for item in modalOptions.partylist" ng-change="modalOptions.adddepartment.party_id = partyType.id; modalOptions.adddepartment.department = partyType.department" required>
									<option value="" ng-if="!modalOptions.adddepartment.id">Select Party</option>
									<!-- <option value="modalOptions.adddepartment.party_name" ng-if="modalOptions.adddepartment.id">modalOptions.adddepartment.party_name</option> -->
								</select>
								<input type="hidden" id="name" class="form-control" name="name" placeholder="Enter Name" ng-model="modalOptions.adddepartment.party_id">
								<input type="hidden" id="name" class="form-control" name="name" placeholder="Enter Name" ng-model="modalOptions.adddepartment.department">
								<span class="block" ng-show="adddepartmentForm.party.$invalid && adddepartmentForm.party.$dirty">
									<span ng-show="adddepartmentForm.party.$error.required" class="text-danger">Required Field</span>
								</span>
							</div>
					</div>
					
					<div class="form-group">
						<label for="tilemeson" class="col-sm-2 control-label">Tile Meson</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="tilemeson" name="tilemeson" ng-model="modalOptions.adddepartment.tile_meson" cols="30" rows="4" placeholder="Tile Meson" ng-pattern="/^[0-9]{1,7}$/" maxlength="10">
								<span class="block" ng-show="adddepartmentForm.tilemeson.$invalid && adddepartmentForm.tilemeson.$dirty">
									<!-- <span ng-show="adddepartmentForm.tilemeson.$error.required" class="text-danger">Required Field</span> -->
									<span ng-show="adddepartmentForm.tilemeson.$error.pattern" class="text-danger">Please Enter a Number.</span>
								</span>
							</div>
					</div>
					
					<div class="form-group">
						<label for="plastermeson" class="col-sm-2 control-label">Plaster Meson</label>
						<div class="col-sm-9">
							<input  type="text" class="form-control" id="plastermeson" name="plastermeson" ng-model="modalOptions.adddepartment.plaster_meson" ng-pattern="/^[0-9]{1,7}$/" maxlength="10" placeholder="Plaster Meson">
							<span class="block" ng-show="adddepartmentForm.plastermeson.$invalid && adddepartmentForm.plastermeson.$dirty">
								
								<span ng-show="adddepartmentForm.plastermeson.$error.pattern" class="text-danger">Please Enter a Number.</span>
							</span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="plumbermeson" class="col-sm-2 control-label">Plumber Meson</label>
						<div class="col-sm-9">
							<input  type="text" class="form-control" id="plumbermeson" name="plumbermeson" ng-model="modalOptions.adddepartment.plumber_meson" ng-pattern="/^[0-9]{1,7}$/" maxlength="10" placeholder="Plamber Meson">
							<span class="block" ng-show="adddepartmentForm.plumbermeson.$invalid && adddepartmentForm.plumbermeson.$dirty">
								
								<span ng-show="adddepartmentForm.plumbermeson.$error.pattern" class="text-danger">Please Enter a Number.</span>
							</span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="bbmmeson" class="col-sm-2 control-label">BBM Meson</label>
							<div class="col-sm-9">
								<input  type="text" class="form-control" id="bbmmeson" name="bbmmeson" ng-model="modalOptions.adddepartment.bbm_meson" ng-pattern="/^[0-9]{1,7}$/" maxlength="10" placeholder="BBM Meson">
								<span class="block" ng-show="adddepartmentForm.bbmmeson.$invalid && adddepartmentForm.bbmmeson.$dirty">
									
									<span ng-show="adddepartmentForm.bbmmeson.$error.pattern" class="text-danger">Please Enter a Number.</span>
								</span>
							</div>
					</div>
					
					<div class="form-group">
						<label for="meson" class="col-sm-2 control-label"> Meson</label>
							<div class="col-sm-9">
								<input  type="text" class="form-control" id="meson" name="meson" ng-model="modalOptions.adddepartment.meson" ng-pattern="/^[0-9]{1,7}$/" maxlength="10" placeholder="Meson">
								<span class="block" ng-show="adddepartmentForm.meson.$invalid && adddepartmentForm.meson.$dirty">
									<!-- <span ng-show="adddepartmentForm.meson.$error.required" class="text-danger">Required Field</span> -->
									<span ng-show="adddepartmentForm.meson.$error.pattern" class="text-danger">Please Enter a Number.</span>
								</span>
							</div>
					</div>
					
						<div class="form-group">
							<label for="helper" class="col-sm-2 control-label">Helper</label>
							<div class="col-sm-9">
								<input  type="text" class="form-control" id="helper" name="helper" ng-model="modalOptions.adddepartment.helper" ng-pattern="/^[0-9]{1,7}$/" maxlength="10" placeholder="helper">
								<span class="block" ng-show="adddepartmentForm.helper.$invalid && adddepartmentForm.helper.$dirty">
									
									<span ng-show="adddepartmentForm.helper.$error.pattern" class="text-danger">Please Enter a Number.</span>
								</span>
							</div>
					</div> 
					
					<div class="form-group">
								<label for="breakingmachine" class="col-sm-2 control-label">Breaking Machine</label>
							<div class="col-sm-9">
								<input  type="text" class="form-control" id="breakingmachine" name="breakingmachine" ng-model="modalOptions.adddepartment.breaking_machine" ng-pattern="/^[0-9]{1,7}$/" maxlength="10" placeholder="Breaking Machine">
								<span class="block" ng-show="adddepartmentForm.breakingmachine.$invalid && adddepartmentForm.breakingmachine.$dirty">
									
									<span ng-show="adddepartmentForm.breakingmachine.$error.pattern" class="text-danger">Please Enter a Number.</span>
								</span>
							</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-9">
							<button type="submit" ng-click="modalOptions.postData(modalOptions.adddepartment);modalOptions.ok()" class="btn btn-success btn text-center  ng-scope" ng-disabled="adddepartmentForm.$invalid" ng-if="!modalOptions.adddepartment.id">Add Department</button>
							<button type="submit" ng-disabled="adddepartmentForm.$invalid" ng-click="modalOptions.updateDept(modalOptions.adddepartment);modalOptions.ok()" class="btn btn-success btn text-center  ng-scope"  ng-if="modalOptions.adddepartment.id">Update</button>
							<button type="reset" class="btn btn-danger" ng-click="modalOptions.ok()">Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
