
.content{
	border : 1px solid #ccc;
	padding : 15px 15px 0px;
}
.log{
	margin-bottom:10px;
}
.form1{
	border:1px solid;
	padding:20px;
	width: 350px;
	margin : 0 auto;
	text-align:center;
}
.glyphicon-user {  
	font-size: 60px;	
}
h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}		
header{
	padding-top : 20px;
	padding- bottom : 10px;
	margin-bottom : 10px;
	img{
		border : 1px solid #ccc;
	}
} 
.gridblock {
    padding: 10px;
    margin-bottom: 20px;
	height:100px;
    border: 1px solid;
    box-shadow: 5px 5px 6px #bbb;
    background-color: #EAEAEA;
   h4{
       font-size:20px;
	 }
}
.border{ 
	border:1px solid;
	padding:20px;
}

footer{
	border : 1px solid #ccc;
	margin-top : 20px;
	padding-top : 10px;
}				 