<div class="text-right bottomspace">
	<a href="#/dashboard/partylist" class="btn btn-default" ng-click="getData(currentPage, 'party', 'partylist' );status=  options[0];search=null;partyType=options[0];sort=options[0]" >Party List</a>
	<a class="btn btn-default"ng-click="openAddparty()" tooltip="Add New Party">Add Party/Vender</a>
</div>
<h3> Party List <button class="btn btn-primary pull-right" type="submit">Print</button></h3>
<div class="row bottomspace">
	<div class="col-sm-3">
		<input type="text" class="form-control" placeholder="Search" ng-model="search" ng-change="filter('name', search, true)">
	</div>
	<div class="col-sm-2">
		<select class="form-control" name="sort" ng-model="sort" ng-change="orderBy('name', sort)">
			<option value="">Sort By</option>
			<option value="asc">Ascending</option>
			<option value="desc">Descending</option>
		</select>
	</div>
	<div class="col-sm-2">
		<select class="form-control"  ng-model="status" ng-change="filter('status', status)">
			<option value="">Select Status</option>
			<option value="1">Active</option>
			<option value="0">Deleted</option>
		</select>
	</div>
	<div class="col-sm-2">
		<select class="form-control" ng-model="partyType" ng-change="filter('type', partyType)">
			<option value="">Select Party</option>
			<option value="Client">Client</option>
			<option value="Vendor">Vendor</option>
		</select>
	</div>
	
</div>
<div class="table-responsive">
	<table class="table table-bordered" ng-init="getData(currentPage, 'party', 'partylist' )">
		<tr>
			<th>Sr. No.</th>
			<th>Party Name</th>
			<th>Email</th>
			<th>Contact</th>
			<th>Address</th>
			<th>City</th>
			<th>Type</th>
			<th>Manage</th>
		</tr>
		<tr ng-repeat="x in partylist | orderBy:sort">
			<td>{{((currentPage - 1) * pageItems ) + $index + 1}}</td>
			<td>{{x.name}}</td>
			<td>{{x.email}}</td>
			<td>{{x.contact}}</td>
			<td>{{x.address}}</td>
			<td>{{x.city}}</td>
			<td>{{x.type}}</td>
			<td class="col-sm-3">
				<button ng-click="openAddparty(x)" class="btn btn-warning" type="button" tooltip-animation="true" tooltip="Edit Party"> <span class="glyphicon glyphicon-pencil"></span></button>
				
				<button type="button" tooltip="{{(x.status == 1) ? 'Delete' : 'Active'}}" ng-class="(x.status == 1) ? 'btn btn-success' : 'btn btn-danger'" ng-model="x.status" ng-change="changeCol('status', x.status, x.id)" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
					<span class="glyphicon glyphicon-remove"></span> 
				</button>
								
				<button ng-click="openViewparty(x)" class="btn btn-info" type="button" tooltip-animation="true" tooltip="Edit Party"> <span class="glyphicon glyphicon-eye-open"></span></button>
			</td>
		</tr>				
	</table>
</div>
<div class="text-center">
	<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getData(currentPage, 'party', 'partylist' )"></pagination>
	<pre>Page: {{currentPage}} / {{totalRecords}}</pre>
</div>