<div class="modal-content">		
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="modal-body">
		<h4 class="text-center">Party Details</h4>
		<div class="table-responsive">
			<table class="table table-stripped">
				<tr>
					<td ng-if="modalOptions.addparty.name"><b>Name</b></td>
					<td ng-if="modalOptions.addparty.name">						
						<p>{{modalOptions.addparty.name}}</p>
					</td>
				</tr>
				<tr>
					<td ng-if="modalOptions.addparty.department"><b>Department</b></td>
					<td ng-if="modalOptions.addparty.department">						
						<p>{{modalOptions.addparty.department}}</p>
					</td>
				</tr>
				<tr>
					<td ng-if="modalOptions.addparty.type"><b>Type</b></td>
					<td ng-if="modalOptions.addparty.type">						
						<p>{{modalOptions.addparty.type}}</p>
					</td>
				</tr>
				<tr>
					<td ng-if="modalOptions.addparty.contact_person"><b>Contact person</b></td>
					<td ng-if="modalOptions.addparty.contact_person">						
						<p>{{modalOptions.addparty.contact_person}}</p>
					</td>
				</tr>
				<tr>
					<td ng-if="modalOptions.addparty.email"><b>Email </b></td>
					<td ng-if="modalOptions.addparty.email">						
						<p>{{modalOptions.addparty.email}}</p>
					</td>
				</tr>
				<tr>
					<td ng-if="modalOptions.addparty.contact"><b>Conatct </b></td>
					<td ng-if="modalOptions.addparty.contact">						
						<p>{{modalOptions.addparty.contact}}</p>
					</td>
				</tr>
				<tr>
					<td ng-if="modalOptions.addparty.address"><b>Address </b></td>
					<td ng-if="modalOptions.addparty.address">						
						<p>{{modalOptions.addparty.address}}</p>
					</td>
				</tr>
				<tr>
					<td ng-if="modalOptions.addparty.city"><b>City</b></td>
					<td ng-if="modalOptions.addparty.city">						
						<p>{{modalOptions.addparty.city}}</p>
					</td>
				</tr>
				<tr>
					<td ng-if="modalOptions.addparty.area"><b>Area </b></td>
					<td ng-if="modalOptions.addparty.area">						
						<p>{{modalOptions.addparty.area}}</p>
					</td>
				</tr>
				<tr>
					<td ng-if="modalOptions.addparty.location"><b>Location </b></td>
					<td ng-if="modalOptions.addparty.location">						
						<p>{{modalOptions.addparty.location}}</p>
					</td>
				</tr>
				<tr>
					<td ng-if="modalOptions.addparty.date"><b>Date</b></td>
					<td ng-if="modalOptions.addparty.date">						
						<p>{{modalOptions.addparty.date}}</p>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="modalOptions.ok()">OK</button>
	</div>
</div>