<form class="form-horizontal" name="addTermconditionForm" novalidate ng-submit="addTermconditionForm.$valid">
	<div class="form-group">
		<label for="termcondition" class="col-sm-2 control-label">Term And Condition *</label>
		<div class="col-sm-9">
			<textarea name="termcondition" id="termcondition" ng-model="taxinfo.termcondition" placeholder="Address" class="form-control" ng-maxlength="75" required></textarea>
			<span ng-hide="addTermconditionForm.termcondition.$error.maxlength">
				{{ 256 - addparty.termcondition.length + " Chars left" }}
			</span>	
			<span class="help-block ng-hide" ng-show="addTermconditionForm.termcondition.$dirty && addTermconditionForm.termcondition.$invalid">
				<span class="text-danger" ng-show="addTermconditionForm.termcondition.$error.required">Please Enter Address.</span>
				<span class="text-danger" ng-show="addTermconditionForm.termcondition.$error.maxlength">Sorry You are Exceeding the Limit</span>
			</span>	
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-9">
			<button type="submit" class="btn btn-primary" ng-disabled="addTermconditionForm.$invalid" ng-click="postData(taxinfo)">Add Term</button>
		</div>
	</div>
</form>