<div class="text-right bottomspace">
	<a href="#/party/partylist" class="btn btn-default">Party List</a>
	<a href="#/party/party" class="btn btn-default">Add Party/Vender</a>
</div>
<h3 class="text-center"> Party View <button class="btn btn-primary pull-right" type="submit">Print</button></h3>
<div class="row bottomspace">
	<div class="col-sm-3">
		<input type="text" class="form-control" placeholder="Search">
	</div>
	<div class="col-sm-2">
		<select class="form-control">
			<option>Sort By</option>
			<option value="Ascending">Ascending</option>
			<option value="Descending">Descending</option>
		</select>
	</div>
	<div class="col-sm-2">
		<select class="form-control">
			<option>Select Status</option>
			<option value="active">Active</option>
			<option value="deleted">Deleted</option>
		</select>
	</div>
	<div class="col-sm-2">
		<select class="form-control">
			<option>Select Party</option>
			<option value="active">Party</option>
			<option value="deleted">Vender</option>
		</select>
	</div>
	<div class="col-sm-2">
		<select class="form-control">
			<option>Select Department</option>
			<option value="Department1">Department1</option>
			<option value="Department2">Department2</option>
		</select>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-bordered">
		<tr>
			<th>Sr. No.</th>
			<th>Party Name</th>
			<th>Email</th>
			<th>Contact</th>
			<th>Address</th>
			<th>City</th>
			<th>Type</th>
			<th>Manage</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Sharma</td>
			<td>sharma@gmail.com</td>
			<td>8545226575</td>
			<td>Nigadi</td>
			<td>Pune</td>
			<td>Vender</td>
			<td>
				<a href="#/party" class="btn btn-warning glyphicon glyphicon-pencil" ng-model="checkModel.left"  tooltip="Edit Party "></a>
				<a class="btn btn-primary glyphicon glyphicon-eye-open" ng-click="open()"  tooltip="View Party "></a>
				<a class="btn btn-danger glyphicon glyphicon-remove" ng-model="checkModel.right"  tooltip="Delete Party "></a>
			</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Kulkarni</td>
			<td>aarti@gmail.com</td>
			<td>8545226575</td>
			<td>Thergaon</td>
			<td>Pune</td>
			<td>Party</td>
			<td>
				<a href="#/party" class="btn btn-warning glyphicon glyphicon-pencil" ng-model="checkModel.left" btn-checkbox tooltip="Edit Party Details"></a>
				<a class="btn btn-primary glyphicon glyphicon-eye-open" ng-model="checkModel.middle" btn-checkbox tooltip="View Party Details"></a>
				<a class="btn btn-danger glyphicon glyphicon-remove" ng-model="checkModel.right" btn-checkbox tooltip="Delete Party Details"></a>
			</td>
		</tr>
	</table>
</div>
<div class="text-center">
	<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
	 <pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>
</div>