<div class="text-right bottomspace">
	<a href="#/dashboard/quotationlist" class="btn btn-default">Quotation List</a>
	<a class="btn btn-default" ng-click="openAddQuotation()" tooltip="Add New Quotation">Add New Quotation</a>
</div>
<h3> Quotation View</h3>
<div class="row bottomspace">
		<div class="col-sm-3">
			<select class="form-control" ng-model="sort" ng-change="orderBy('subject', sort)">
				<option value="">Sort By</option>
				<option value="asc">Ascending</option>
				<option value="desc">Descending</option>
			</select>
		</div>
		<div class="col-sm-2">
			<select class="form-control" ng-model="status" ng-change="filter('status', status)">
				<option value="">Select Status</option>
				<option value="1">Active</option>
				<option value="0">Deleted</option>
			</select>
		</div>
		<div class="col-sm-2">
			<select class="form-control" ng-model="partyType" ng-init="getParty()" ng-options="item.name for item in partylist" ng-change="filter('party_name', partyType.name)">
				<option value="">Select Party</option>
			</select>
		</div>
		<div class="col-sm-2">
			<select class="form-control" ng-model="department" ng-options="item.department for item in partylist | filter : { name : partyType.name }" ng-change="filter('department', partyType.department)">
				<option value="">Select Department</option>
			</select>
		</div>
</div>
<div class="table-responsive">
	<table class="table table-bordered" ng-init="getQuotation(currentPage)"> 
		<tr>
			<th>Sr.No</th>
			<th>Address</th>
			<th>Subject</th>
			<th>status</th>
			<!-- <th>Terms & Conditions</th> -->
			<th>Party Name</th>
			<th>Total Amount</th>
			<th>Manage</th>
		</tr>
		<tr ng-repeat="x in quotationlist | orderBy:sort">
			<td>{{$index + 1}}</td>
			<td>{{x.address}}</td>
			<td>{{x.subject}}</td>
			<td>{{x.status}}</td>
			<!-- <td>{{x.termsnconditions}}</td> -->
			<td>{{x.party_name}}</td>
			<td>{{x.total_amount}}</td>
			<td class="col-sm-3">
				<button ng-click="openAddQuotation(x)" class="btn btn-warning" type="button" tooltip-animation="true" tooltip="Edit Party Information"> <span class="glyphicon glyphicon-pencil"></span></button>
			
				<button type="button" tooltip="{{(x.status == 1) ? 'Delete' : 'Active'}}" ng-class="(x.status == 1) ? 'btn btn-success' : 'btn btn-danger'" ng-model="x.status" ng-change="changeCol('status', x.status, x.id)" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
					<span class="glyphicon glyphicon-remove"></span> 
				</button>
				
				<button ng-click="openViewparty(x)" class="btn btn-primary" type="button" tooltip-animation="true" tooltip="Edit Party Information"> <span class="glyphicon glyphicon-eye-open"></span></button>
			</td>
		</tr>				
	</table>
</div>
<div class="text-center">
	<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getQuotation(currentPage,params)"></pagination>
	<pre>Page: {{currentPage}} / {{totalRecords}}</pre>
</div>
