<div class="modal-content">	
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalOptions.ok()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-12"><button class="btn btn-primary pull-right">Print</button></div>
			<h3 class="text-center">Quotation</h3>
			<div class="col-xs-12 text-right">
				<p>Quotation No. : {{modalOptions.addquotation.id}}</p>
				<p>Date : {{modalOptions.addquotation.date}}</p>
			</div>
			<div class="col-xs-12">
				<p>To,</p>
				<p>Name : {{modalOptions.addquotation.name}}</p>
				<p>Address : {{modalOptions.addquotation.address}}</p>
				<p>Subject : {{modalOptions.addquotation.subject}}</p>
			</div>
			<div class="col-xs-12">
				<div class="table-responsive">
					<table class="table table-bordered" >
						<thead>
							<tr>
								<th>Description</th>
								<th>Unit</th>
								<th>Area</th>
								<th>Rate</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							<td>{{modalOptions.addquotation.particular}}</td>
							<td>{{x.unit}}</td>
							<td>{{x.area}}</td>
							<td>{{x.rate}}</td>
							<td>{{x.amount}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td>Total Amount =</td>
								<td>{{modalOptions.addquotation.total_amount}}</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<div class="col-xs-12" ng-init="modalOptions.getData('terms', modalOptions,'termslist')">
				<div class="table-responsive" ng-init="modalOptions.getData('terms', modalOptions,'termslist')">
					<table class="table table-bordered">
						<tr ng-repeat="list in modalOptions.termslist">
							<td>{{list.id}}</td>
							<td>{{list.description}}</td>
							<td><a tooltip="Remove This" ng-click="modalOptions.remove(x,modalOptions)"><span class="glyphicon glyphicon-remove"></span></a></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-xs-12">
				<br>
				<p>Thank You.</p>
				<br>
				<br>
				<br>
				<p>Signature</p>
			</div>
		</div>
	</div>
</div>