<div class="text-right">
	<a href="#/dashboard/measurementlist" class="btn btn-default" title="Add new property">Measurement Sheet </a>	
	<a class="btn btn-default" ng-click="openAddMeasurement()" tooltip="Add Measurement Item">Add Measurement Item</a>
</div>
<h3>Measurement Table</h3> 	
<div class="row bottomspace">
	<div class="col-sm-3"> 
		<label for="fromdate" class="control-label">From Date </label>
		<div class="input-group">
			<input type="text" placeholder="YYYY-DD-MM" id="fromdate" name="fromdate" class="form-control" ng-model="measurement.fromdate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
	</div>	
	<div class="col-sm-3"> 
		<label for="todate" class="control-label">To Date </label>
		<div class="input-group">
			<input type="text" placeholder="YYYY-DD-MM" id="todate" name="todate" class="form-control" ng-model="measurement.todate" datepicker-popup="{{format}}" is-open="opened1" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open1($event)" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
	</div>
	<div class="col-sm-3">
	<label for="party" class="control-label">Select Party</label>
		<select class="form-control">
			<option>Select Party</option>
			<option value="Party">Party</option>
			<option value="Vender">Vender</option>
		</select>
	</div>
	<div class="col-sm-3">
	<label for="department" class="control-label">Select Department</label>
		<select class="form-control">
			<option>Select Department</option>
			<option value="Department1">Department1</option>
			<option value="Department2">Department2</option>
		</select>
	</div>
</div>

	<div class="table-responsive">		
	<table class="table table-bordered">
	<thead>
		<tr>
			<th>Sr.No.</th>
			<th>Date</th>
			<th>Description</th>
			<th>Rpt</th> 
			<th>Unit</th>
			<th>Nos </th>
			<th>Length</th>
			<th>Width</th>
			<th>Height</th>
			<th>Area</th>
			<th class="col-sm-2">Manage</th>
		</tr>
	</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>20/12/2015</td>
				<td>Brick work</td>
				<td>17</td>
				<td>Cum</td>
				<td>1</td>
				<td>2.50</td>
				<td>0.23</td>
				<td>1.00</td>
				<td>0.58</td>
				
				<td>
				<a class="btn btn-primary glyphicon glyphicon-pencil" ng-click="openAddMeasurement()" tooltip="Edit Measurement Item"></a>
				
				<a type="button" tooltip="Delete Measurement"  class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>20/12/2015</td>
				<td>Break Work</td>
				<td>17</td>
				<td>Cum</td>
				<td>1</td>
				<td>2.50</td>
				<td>0.23</td>
				<td>1.00</td>
				<td>0.58</td>
				<td>
				<a href="#/measurement" class="btn btn-primary glyphicon glyphicon-pencil" type="button" tooltip-animation="true" tooltip="Edit Measurement"> 
				</a>
				
				<a type="button" tooltip="Delete Measurement"  class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="text-center">
	<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
	 <pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>
</div>
	
