<div class="modal-header">
	<button type="button" class="close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body" ng-init="modalOptions.getData('party', modalOptions,'partylist')">
	<h3 class="text-center" ng-if="!modalOptions.addmeasurement.id">Add Measurement</h3>
	<h3 class="text-center" ng-if="modalOptions.addmeasurement.id">Edit Measurement</h3>
	<form class="form-horizontal" name="addmeasurmentForm" novalidate ng-submit="addmeasurmentForm.$valid">
		<div class="form-group" ng-if="partyType">
			<label for="name" class="col-sm-2 control-label">Party</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="name" placeholder="name" ng-model="partyType.name"  readonly>
				<input type="hidden" class="form-control" id="name" placeholder="name" ng-model="modalOptions.addmeasurement.party_id" >
				<input type="hidden" class="form-control" id="department" placeholder="department" ng-model="modalOptions.addmeasurement.department_id"  >
			</div>
		</div>
		
		<div class="form-group">
			<label for="party" class="col-sm-2 control-label">Select Department *</label>
				<div class="col-sm-9">
					<select class="form-control" ng-model="partyType" ng-options="item as item.department group by item.name for item in modalOptions.partylist"ng-change="addmeasurement.party_name = partyType.name; addmeasurement.department = partyType.department;modalOptions.addmeasurement.party_id = partyType.id;partyType.department;modalOptions.addmeasurement.department_id = partyType.id;" required>
						<option value="">Select Department</option>
					</select>
					<span class="text-danger" ng-show=	"addmeasurmentForm.party.$dirty && addmeasurmentForm.party.$invalid">
						<span ng-show="addmeasurmentForm.party.$error.required" class="text-danger">Required Field.</span>
					</span>	
				</div>
		</div>
		
		<div class="form-group" ng-init="modalOptions.getData('item', modalOptions,'itemlist')">
			<label for="item" class="col-sm-2 control-label">Select Item *</label>
				<div class="col-sm-9">
					<select class="form-control" ng-model="modalOptions.addmeasurement.item_id"  ng-options="item.id as item.item_name  for item in modalOptions.itemlist" required name="item">
						<option value="">Select Item</option>
					</select>
					<input type="hidden" class="form-control" id="Item" ng-model="modalOptions.addmeasurement.item_id"  />
					<input type="hidden" class="form-control" id="Item" ng-model="modalOptions.addmeasurement.status"  ng-init="modalOptions.addmeasurement.status = '1'" >
			
					<span class="block" ng-show="addmeasurmentForm.item.$invalid && addmeasurmentForm.item.$dirty">
						<span ng-show="addmeasurmentForm.item.$error.required" class="text-danger">Required Field</span>
					</span>
				</div>
		</div>
		
		<div class="form-group">
			<label for="date" class="col-sm-2 control-label">Date *</label>
			<div class="col-sm-9">
				<input type="date" class="form-control" id="date" placeholder="date" ng-model="modalOptions.addmeasurement.date" required>
				<span class="block" ng-show="addmeasurmentForm.date.$invalid && addmeasurmentForm.date.$dirty">
					<span ng-show="addmeasurmentForm.date.$error.required" class="text-danger">Required Field</span>
				</span>
			</div>
		</div>
	
		<div class="form-group">
			<label for="receipt_no" class="col-sm-2 control-label">Receipt number *</label>
			<div class="col-sm-9">
				<input  type="text" class="form-control" id="receipt_no" name="receipt_no" ng-model="modalOptions.addmeasurement.receipt_no" cols="30" rows="4" ng-maxlength="5000" placeholder="Receipt number" required>
				<span class="block" ng-show="addmeasurmentForm.receipt_no.$invalid && addmeasurmentForm.receipt_no.$dirty">
					<span ng-show="addmeasurmentForm.receipt_no.$error.required" class="text-danger">Required Field</span>
				</span>
			</div>
		</div>
		
		<div class="form-group">
			<label for="qty" class="col-sm-2 control-label">Quantity *</label>
				<div class="col-sm-9">
					<input class="form-control" id="qty" name="qty" type="text" ng-model="modalOptions.addmeasurement.quantity" placeholder="Quantity" required ng-pattern="/^\d{0,9}(d{1,9})?$/">
					<span class="block" ng-show="addmeasurmentForm.qty.$invalid && addmeasurmentForm.qty.$dirty">
							<span ng-show="addmeasurmentForm.qty.$error.required" class="text-danger">Required Field</span>
							<span ng-show="addmeasurmentForm.qty.$error.pattern" class="text-danger">Please Enter a Number.</span>
					</span>
				</div>
		</div>

		<div class="form-group">
			<label for="measurement" class="col-sm-2 control-label">Measurement Unit *</label>
				<div class="col-sm-3">
					<select class="form-control" Id="measurement" name="measurement"ng-model="modalOptions.addmeasurement.measurement_unit"  required>
							<option value="">Select Unit</option>
							<option value="Sq.Ft" >Sq.Ft</option>
							<option value="Sq.meter">Sq.meter</option>
							<option value="Rm">Rm</option>
							<option value="Fft">Fft</option>
							<option value="Cum">Cum</option>
							<option value="Cft">Cft</option>
							<option value="NOS">NOS</option>
					</select>
						<span class="block" ng-show="addmeasurmentForm.measurement.$invalid && addmeasurmentForm.measurement.$dirty">
							<span ng-show="addmeasurmentForm.measurement.$error.required" class="text-danger">Required Field</span>
						</span>
				</div>
				<div class="col-sm-2"  ng-if="(modalOptions.addmeasurement.measurement_unit =='Sq.Ft' )||(modalOptions.addmeasurement.measurement_unit =='Cum')||(modalOptions.addmeasurement.measurement_unit =='Cft')||(modalOptions.addmeasurement.measurement_unit =='Sq.meter' )||(modalOptions.addmeasurement.measurement_unit =='Rm' )||(modalOptions.addmeasurement.measurement_unit =='Fft' )">
					<input  type="text" class="form-control" id="length" name="length" ng-model="modalOptions.addmeasurement.length" placeholder="length" ng-pattern="/^[0-9]{1,7}$/" required ng-change ="modalOptions.cal(modalOptions.addmeasurement)">
					<span class="block" ng-show="addmeasurmentForm.length.$invalid && addmeasurmentForm.length.$dirty">
						<span ng-show="addmeasurmentForm.length.$error.pattern" class="text-danger">Please Enter a Number.</span>
					</span>
				</div>
				<div class="col-sm-2" ng-if="(modalOptions.addmeasurement.measurement_unit =='Sq.Ft' )||(modalOptions.addmeasurement.measurement_unit =='Cum')||(modalOptions.addmeasurement.measurement_unit =='Cft')||(modalOptions.addmeasurement.measurement_unit =='Sq.meter' )">
					<input  type="text" class="form-control" id="Width" name="Width" ng-model="modalOptions.addmeasurement.width"  placeholder="Width" required ng-change ="modalOptions.cal(modalOptions.addmeasurement)">
					<span class="block" ng-show="addmeasurmentForm.Width.$invalid && addmeasurmentForm.Width.$dirty">
							<span ng-show="addmeasurmentForm.Width.$error.required" class="text-danger">Required Field</span>
						</span>
				</div>
				<div class="col-sm-2" ng-if="(modalOptions.addmeasurement.measurement_unit =='Cum')||(modalOptions.addmeasurement.measurement_unit =='Cft') ">
					<input  type="text" class="form-control" id="Height" name="Height" ng-model="modalOptions.addmeasurement.height"  placeholder="Height" required ng-change ="modalOptions.cal(modalOptions.addmeasurement)">
					<span class="block" ng-show="addmeasurmentForm.Height.$invalid && addmeasurmentForm.Height.$dirty">
						<span ng-show="addmeasurmentForm.Height.$error.required" class="text-danger">Required Field</span>
					</span>
				</div>
				<div class="col-sm-2"  ng-if="modalOptions.addmeasurement.measurement_unit =='NOS' ">
					<input  type="text" class="form-control" id="NOS" name="NOS" ng-model="modalOptions.addmeasurement.nos" placeholder="NOS" required ng-change ="modalOptions.cal(modalOptions.addmeasurement)">
					<span class="block" ng-show="addmeasurmentForm.NOS.$invalid && addmeasurmentForm.NOS.$dirty">
							<span ng-show="addmeasurmentForm.NOS.$error.required" class="text-danger">Required Field</span>
					</span>
				</div>
		</div>	

		<div class="form-group" >
			<label for="area" class="col-sm-2 control-label">Area *</label>
			<div class="col-sm-9">
				<input class="form-control" id="area" name="area" type="text" ng-model="modalOptions.addmeasurement.area" placeholder="Area"  >
				<span class="block" ng-show="addmeasurmentForm.area.$invalid && addmeasurmentForm.area.$dirty">
						<span ng-show="addmeasurmentForm.area.$error.required" class="text-danger">Required Field</span>
				</span>
			</div>
		</div>
			<!-- ng-disabled="addmeasurmentForm.$invalid" --> 
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-9">
				<button type="submit" class="btn btn-primary" ng-disabled="addmeasurmentForm.$invalid" ng-click="modalOptions.postData(modalOptions.addmeasurement);modalOptions.ok()"  ng-if="!modalOptions.addmeasurement.id" >Add Item</button>
				<button type="submit" class="btn btn-success btnsp" ng-disabled="addmeasurmentForm.$invalid" ng-click="modalOptions.updateData(modalOptions.addmeasurement);modalOptions.ok()"  ng-if="modalOptions.addmeasurement.id" >Edit Item</button>
				<button type="cancel" class="btn btn-danger btn-dan" ng-click="modalOptions.ok()">Cancel</button> 
			</div>
		</div>
	</form>
</div>