<div class="text-right">
	<a href="#/dashboard/measurementlist" class="btn btn-default" title="Add new property">Measurement Sheet </a>	
	<a class="btn btn-default" ng-click="openAddMeasurement(null)" tooltip="Add Measurement Item">Add Measurement Item</a>
</div>
<h3>Measurement Table</h3> 	
<div class="row bottomspace">
	<div class="col-sm-3"> 
		<label for="fromDate" class="control-label">From Date </label>
		<div class="input-group">
			<input type="text" placeholder="YYYY-DD-MM" id="fromDate" name="fromDate" class="form-control" ng-model="fromDate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" ng-change="filter('date', fromDate)" / >
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
	</div>	
	<div class="col-sm-3"> 
		<label for="toDate" class="control-label">To Date </label>
		<div class="input-group">
			<input type="text" placeholder="YYYY-DD-MM" id="toDate" name="toDate" class="form-control" ng-model="measurement.toDate" datepicker-popup="{{format}}" is-open="opened1" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open1($event)" ng-change="filter('date', toDate)" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
	</div>
	<div class="col-sm-3">
	<label for="party" class="control-label">Select Party</label>
		<select class="form-control" name="type" id="type"  ng-init="getParty(currentPage)"  ng-options="item.id as item.client_name for item in partylist " >{{partylist.client_name}}
					<option value="">Select Party</option>
		</select>
		<!-- <select class="form-control">
			<option>Select Party</option>
			<option value="Party">Party</option>
			<option value="Vender">Vender</option>
		</select> -->
	</div>
	<div class="col-sm-3">
	<label for="department" class="control-label">Select Department</label>
		<select class="form-control">
			<option>Select Department</option>
			<option value="Department1">Department1</option>
			<option value="Department2">Department2</option>
		</select>
	</div>
</div>
<!-- <table class="table table-bordered" >
	<tr ng-repeat="x in partylist ">
				<td>{{((currentPage - 1) * pageItems ) + $index + 1}}</td>
				<td>{{x.client_name}}</td>
			</tr>
</table> -->
	<div class="table-responsive">		
	<table class="table table-bordered" ng-init="getMeasurement(currentPage)">
	<thead>
		<tr>
			<th>Sr.No.</th>
			<th>Date</th>
			<th>Quantity</th>
			<th>Unit</th>
			<th>Nos </th>
			<th>Length</th>
			<th>Width</th>
			<th>Height</th>
			<th>Area</th>
			<th>Manage</th>
		</tr>
	</thead>
		<tbody>
			<tr ng-repeat="x in measurementlist | orderBy:sort">
				<td>{{((currentPage - 1) * pageItems ) + $index + 1}}</td>
				<td>{{x.date}}</td>
				<td>{{x.quantity}}</td>
				<td>{{x.measurement_unit}}</td>
				<td>{{x.nos}}</td>
				<td>{{x.length}}</td>
				<td>{{x.width}}</td>
				<td>{{x.height}}</td>
				<td>{{x.area}}</td>
				<td>
					<div class="btn-group">
						<button ng-click="openAddMeasurement(x)" class="btn btn-warning" type="button" tooltip-animation="true" tooltip="Edit Measurement Information"> <span class="glyphicon glyphicon-pencil"></span></button>
					</div>
					<div class="btn-group">
						<button type="button" tooltip="{{(x.status == 1) ? 'Delete' : 'Active'}}" ng-class="(x.status == 1) ? 'btn btn-success' : 'btn btn-danger'" ng-model="x.status" ng-change="changeCol('status', x.status, x.id)" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
						<span class="glyphicon glyphicon-remove"></span> 
					</div>
					<div class="btn-group">	
						<button type="button" tooltip="View" class="btn btn-info" ng-click="viewMeasurement(x)"><span class="glyphicon glyphicon-eye-open"></span></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="text-center">
	<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getMeasurement(currentPage,params)"></pagination>
	
	 <pre>Page: {{currentPage}} / {{totalRecords}}</pre>
</div>
	
