<div class="text-right">
	<a href="#/dashboard/measurementlist" class="btn btn-default" title="Add new property" ng-click="getMeasurement(currentPage)">Measurement Sheet </a>	
	<a class="btn btn-default" ng-click="openAddMeasurement(null)" tooltip="Add Measurement Item">Add Measurement Item</a>
</div>
<h3>Measurement Table</h3> 	
<div class="row bottomspace"><!-- ng-change="filter('date', fromDate)" -->
	<div class="col-sm-3"> <!-- ng-init="measurement.fromDate = currDate" -->
		<label for="fromDate" class="control-label">From Date </label>
		<div class="input-group">
			<input type="text" placeholder="YYYY-DD-MM" id="fromDate" name="fromDate" class="form-control" ng-model="measurement.fromDate" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  ng-init="measurement.fromDate = currDate" ng-required="true" close-text="Close" ng-click="open($event)"   ng-change="dateFilter('date', measurement)"/  >
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
	</div>	<!-- ng-init="measurement.toDate =currDate" -->
	<div class="col-sm-3"> <!-- ng-change="filter('date', toDate)" -->
		<label for="toDate" class="control-label">To Date </label>
		<div class="input-group">
			<input type="text" placeholder="YYYY-DD-MM" id="toDate" name="toDate" class="form-control" ng-model="measurement.toDate" datepicker-popup="{{format}}" is-open="opened1" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"  ng-init="measurement.toDate = currDate" close-text="Close" ng-click="open1($event)"  ng-change="filter('date', measurement ,true)" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
	</div>
	<div class="col-sm-3">
		<label for="party" class="control-label">Select Party</label>
		<select class="form-control" ng-model="partyType" ng-init="getParty()" ng-options="item.name for item in partylist" ng-change="filter('party_id', partyType.id)">
				<option value="">Select Party</option>
		</select>
	
	</div>
	<div class="col-sm-3">
	<label for="department" class="control-label">Select Department</label>
		<select class="form-control" ng-model="department" ng-options="item.department for item in partylist | filter : { name : partyType.name }">
				<option value="">Select Department</option>
		</select>
	</div>
</div>

	<div class="table-responsive">		
	<table class="table table-bordered" ng-init="getMeasurement(currentPage)">
	<thead>
		<tr>
			<th>Sr.No.</th>
			<th>Date</th>
			<th>Quantity</th>
			<th>Unit</th>
			<th>Nos </th>
			<th>Length</th>
			<th>Width</th>
			<th>Height</th>
			<th>Area</th>
			<th>Manage</th>
		</tr>
	</thead>
		<tbody>
			<tr ng-repeat="x in measurementlist | orderBy:sort">
				<td>{{((currentPage - 1) * pageItems ) + $index + 1}}</td>
				<td>{{x.date}}</td>
				<td>{{x.quantity}}</td>
				<td>{{x.measurement_unit}}</td>
				<td>{{x.nos}}</td>
				<td>{{x.length}}</td>
				<td>{{x.width}}</td>
				<td>{{x.height}}</td>
				<td>{{x.area}}</td>
				<td>
					<div class="btn-group">
						<button ng-click="openAddMeasurement(x)" class="btn btn-warning" type="button" tooltip-animation="true" tooltip="Edit Measurement"> <span class="glyphicon glyphicon-pencil"></span></button>
					</div>
					<div class="btn-group">
						<button type="button" tooltip="{{(x.status == 1) ? 'Delete' : 'Active'}}" ng-class="(x.status == 1) ? 'btn btn-success' : 'btn btn-danger'" ng-model="x.status" ng-change="changeCol('status', x.status, x.id)" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
						<span class="glyphicon glyphicon-remove"></span> 
					</div>
					<div class="btn-group">	
						<button type="button" tooltip="View" class="btn btn-info" ng-click="viewMeasurement(x)"><span class="glyphicon glyphicon-eye-open"></span></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="text-center">
	<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="getMeasurement(currentPage,params)"></pagination>
	
	 <pre>Page: {{currentPage}} / {{totalRecords}}</pre>
</div>
	
