<div class="row">
		<div class="col-sm-12 text-right"> 
			<a href="#/department/department" class="btn btn-default" title="Add New Department">Add Department Item</a>				
			<a href="#/department/departmentlist" class="btn btn-default" title="Add New Department">Deparment List</a>
		</div>
	</div>		
		<h3 class="text-center">Add Department</h3>
		<form class="form-horizontal" name="adddepartmentForm" role="form" ng-submit="adddepartmentForm.$valid" novalidate>
		<div class="form-group">
			<label for="inputdate" class="col-sm-2 control-label">Date</label>
			<div class="col-sm-9">
				<input type="date" class="form-control" id="date" name="date" placeholder="date" ng-model="adddepartment.date" required>
					<span class="from-control" ng-show="adddepartmentForm.date.$dirty && adddepartmentForm.date.$invalid">
					<span ng-show="adddepartmentForm.date.$error.required" class="text-danger">Required Field.</span>
					</span>
			</div>
		</div>
		
		<div class="form-group">
			<label for="item" class="col-sm-2 control-label">Item</label>
				<div class="col-sm-9">
					<input  type="text" class="form-control" id="item" name="item" ng-model="adddepartment.item" cols="30" rows="4" ng-maxlength="5000" placeholder="Add item"  required="">
					<span class="block" ng-show="adddepartmentForm.item.$invalid && adddepartmentForm.item.$dirty">
						<span ng-show="adddepartmentForm.item.$error.required" class="text-danger">Required Field</span>
					</span>
				</div>
		</div>
	
		<div class="form-group">
			<label for="tilemeson" class="col-sm-2 control-label">Tile Meson</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="tilemeson" name="tilemeson" ng-model="adddepartment.tilemeson" cols="30" rows="4" placeholder="Tile Meson" ng-pattern="/^[0-9]{1,7}$/" maxlength="10" required>
					<span class="block" ng-show="adddepartmentForm.tilemeson.$invalid && adddepartmentForm.tilemeson.$dirty">
						<span ng-show="adddepartmentForm.tilemeson.$error.required" class="text-danger">Required Field</span>
						<span ng-show="adddepartmentForm.tilemeson.$error.pattern" class="text-danger">Please Enter a Number.</span>
					</span>
				</div>
		</div>
		
		<div class="form-group">
			<label for="plastermeson" class="col-sm-2 control-label">Plaster Meson</label>
			<div class="col-sm-9">
				<input  type="text" class="form-control" id="plastermeson" name="plastermeson" ng-model="adddepartment.plastermesoon" ng-pattern="/^[0-9]{1,7}$/" maxlength="10" placeholder="Plaster Meson" required>
				<span class="block" ng-show="adddepartmentForm.plastermeson.$invalid && adddepartmentForm.plastermeson.$dirty">
					<span ng-show="adddepartmentForm.plastermeson.$error.required" class="text-danger">Required Field</span>
					<span ng-show="adddepartmentForm.plastermeson.$error.pattern" class="text-danger">Please Enter a Number.</span>
				</span>
			</div>
		</div>
		
		<div class="form-group">
			<label for="plumbermeson" class="col-sm-2 control-label">Plamer Meson</label>
				<div class="col-sm-9">
					<input  type="text" class="form-control" id="plumbermeson" name="plumbermeson" ng-model="adddepartment.plumbermeson" ng-pattern="/^[0-9]{1,7}$/" maxlength="10" placeholder="Plamber Meson" required>
					<span class="block" ng-show="adddepartmentForm.plumbermeson.$invalid && adddepartmentForm.plumbermeson.$dirty">
						<span ng-show="adddepartmentForm.plumbermeson.$error.required" class="text-danger">Required Field</span>
						<span ng-show="adddepartmentForm.plumbermeson.$error.pattern" class="text-danger">Please Enter a Number.</span>
					</span>
				</div>
		</div>
		
		<div class="form-group">
			<label for="bbmmeson" class="col-sm-2 control-label">BBM Meson</label>
				<div class="col-sm-9">
					<input  type="text" class="form-control" id="bbmmeson" name="bbmmeson" ng-model="adddepartment.bbmmeson" ng-pattern="/^[0-9]{1,7}$/" maxlength="10" placeholder="BBM Meson" required>
					<span class="block" ng-show="adddepartmentForm.bbmmeson.$invalid && adddepartmentForm.bbmmeson.$dirty">
						<span ng-show="adddepartmentForm.bbmmeson.$error.required" class="text-danger">Required Field</span>
						<span ng-show="adddepartmentForm.bbmmeson.$error.pattern" class="text-danger">Please Enter a Number.</span>
					</span>
				</div>
		</div>
		
		<div class="form-group">
			<label for="meson" class="col-sm-2 control-label"> Meson</label>
				<div class="col-sm-9">
					<input  type="text" class="form-control" id="meson" name="meson" ng-model="adddepartment.meson" ng-pattern="/^[0-9]{1,7}$/" maxlength="10" placeholder="Meson" required>
					<span class="block" ng-show="adddepartmentForm.meson.$invalid && adddepartmentForm.meson.$dirty">
						<span ng-show="adddepartmentForm.meson.$error.required" class="text-danger">Required Field</span>
						<span ng-show="adddepartmentForm.meson.$error.pattern" class="text-danger">Please Enter a Number.</span>
					</span>
				</div>
		</div>
		
			<div class="form-group">
					<label for="helper" class="col-sm-2 control-label">Helper</label>
				<div class="col-sm-9">
					<input  type="text" class="form-control" id="helper" name="helper" ng-model="adddepartment.helper" ng-pattern="/^[0-9]{1,7}$/" maxlength="10" placeholder="helper" required>
					<span class="block" ng-show="adddepartmentForm.helper.$invalid && adddepartmentForm.helper.$dirty">
						<span ng-show="adddepartmentForm.helper.$error.required" class="text-danger">Required Field</span>
						<span ng-show="adddepartmentForm.helper.$error.pattern" class="text-danger">Please Enter a Number.</span>
					</span>
				</div>
		</div>
		
		<div class="form-group">
					<label for="breakingmachine" class="col-sm-2 control-label">Breaking Machine</label>
				<div class="col-sm-9">
					<input  type="text" class="form-control" id="breakingmachine" name="breakingmachine" ng-model="adddepartment.breakingmachine" ng-pattern="/^[0-9]{1,7}$/" maxlength="10" placeholder="Breaking Machine" required>
					<span class="block" ng-show="adddepartmentForm.breakingmachine.$invalid && adddepartmentForm.breakingmachine.$dirty">
						<span ng-show="adddepartmentForm.breakingmachine.$error.required" class="text-danger">Required Field</span>
						<span ng-show="adddepartmentForm.breakingmachine.$error.pattern" class="text-danger">Please Enter a Number.</span>
					</span>
				</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-9">
				<button type="submit" ng-click="addData(adddepartment)" class="btn btn-success btn text-center  ng-scope" ng-disabled="adddepartmentForm.$invalid">Generate</button>
				<button type="reset" class="btn btn-danger">Cancel</button>
			</div>
		</div>
		</form>
</div>
</body>
</html>
